<% if @tips_review.errors.any? %>
  <% @tips_review.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit tips review #<%= @tips_review.id %>
</h1>

<hr>

<form action="/update_tips_review/<%= @tips_review.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @tips_review.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="review_id">
      Review
    </label>

    <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :compensation_id, @tips_review.review_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @tips_review.amount %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update tips review
  </button>
</form>

<hr>

<a href="/tips_reviews">
  Go back
</a>
