<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tips review #<%= @tips_review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tips_reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/tips_reviews/<%= @tips_review.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit tips review
        </a>
      </div>

      <div class="col">
        <a href="/delete_tips_review/<%= @tips_review.id %>" class="btn btn-block btn-outline-secondary">
          Delete tips review
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @tips_review.user.present? %>
          <a href="/users/<%= @tips_review.user_id %>">
            <%= @tips_review.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Review
      </dt>
      <dd>
        <% if @tips_review.review.present? %>
          <a href="/reviews/<%= @tips_review.review_id %>">
            <%= @tips_review.review.compensation_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @tips_review.amount %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@tips_review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@tips_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

