<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tips review #<%= @tips_review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tips_reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link tips_review start -->
      <div class="col">
        <a href="/tips_reviews/<%= @tips_review.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit tips review
        </a>
      </div>
      <!-- Edit link tips_review end -->

      <!-- Delete link tips_review start -->
      <div class="col">
        <a href="/delete_tips_review/<%= @tips_review.id %>" class="btn btn-block btn-outline-secondary">
          Delete tips review
        </a>
      </div>
      <!-- Delete link tips_review end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @tips_review.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Review
      </dt>
      <!-- Display review_id start -->
      <dd>
        <%= @tips_review.review_id %>
      </dd>
      <!-- Display review_id end -->

      <dt>
        Amount
      </dt>
      <!-- Display amount start -->
      <dd>
        <%= @tips_review.amount %>
      </dd>
      <!-- Display amount end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@tips_review.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@tips_review.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
