<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All vote comments
    </h1>

    <a href="/vote_comments/new" class="btn btn-block btn-outline-secondary">
      Add a new vote comment
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "vote_comment_templates/vote_comments_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Voter
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @vote_comments.each do |vote_comment| %>
      <tr>
        <td>
          <%= vote_comment.id %>
        </td>

        <td>
          <% if vote_comment.voter.present? %>
            <a href="/users/<%= vote_comment.voter.id %>">
              <%= vote_comment.voter.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if vote_comment.comment.present? %>
            <a href="/comments/<%= vote_comment.comment.id %>">
              <%= vote_comment.comment.review_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(vote_comment.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(vote_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/vote_comments/<%= vote_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @vote_comments, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
