<h1>
  Edit product #<%= @product.id %>
</h1>

<hr>

<!-- Form product start -->
<form action="/update_product/<%= @product.id %>" method="post">
<!-- Form product end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control" value="<%= @product.category %>">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <!-- Label and input for company_id start -->
  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <!-- Input for company_id start -->
    <input type="text" id="company_id" name="company_id" class="form-control" value="<%= @product.company_id %>">
    <!-- Input for company_id end -->
  </div>
  <!-- Label and input for company_id end -->

  <!-- Label and input for serial_no start -->
  <div class="form-group">
    <label for="serial_no">
      Serial no
    </label>

    <!-- Input for serial_no start -->
    <input type="text" id="serial_no" name="serial_no" class="form-control" value="<%= @product.serial_no %>">
    <!-- Input for serial_no end -->
  </div>
  <!-- Label and input for serial_no end -->

  <button class="btn btn-block btn-outline-secondary">
    Update product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
