<h1>
  Edit vote #<%= @vote.id %>
</h1>

<hr>

<form action="/update_vote/<%= @vote.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @vote.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="review_id">
      Review
    </label>

    <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :compensation_id, @vote.review_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="upvote">
      Upvote
    </label>

    <input type="text" id="upvote" name="upvote" class="form-control" value="<%= @vote.upvote %>">
  </div>

  <div class="form-group">
    <label for="downvote">
      Downvote
    </label>

    <input type="text" id="downvote" name="downvote" class="form-control" value="<%= @vote.downvote %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
