<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Review #<%= @review.id %> details (This is a test for)
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @review.reviewer %>
          <a href="/reviews/<%= @review.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit review
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @review.reviewer %>
          <a href="/delete_review/<%= @review.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete review
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Compensation
      </dt>
      <dd>
        <%= @review.compensation_id %>
      </dd>

      <dt>
        Review content
      </dt>
      <dd>
        <%= @review.review_content %>
      </dd>

      <dt>
        Product
      </dt>
      <dd>
        <% if @review.product.present? %>
          <a href="/products/<%= @review.product_id %>">
            <%= @review.product.category %>
          </a>
        <% end %>
      </dd>

      <dt>
        Ratings
      </dt>
      <dd>
        <%= @review.ratings %>
      </dd>

      <dt>
        Reviewer
      </dt>
      <dd>
        <% if @review.reviewer.present? %>
          <a href="/users/<%= @review.reviewer_id %>">
            <%= @review.reviewer.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "review_templates/review_tips_reviews" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "review_templates/review_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "review_templates/review_likes" %>
  </div>
</div>
