<h1>
  Edit compensations by platform #<%= @compensations_by_platform.id %>
</h1>

<hr>

<!-- Form compensations_by_platform start -->
<form action="/update_compensations_by_platform/<%= @compensations_by_platform.id %>" method="post">
<!-- Form compensations_by_platform end -->

  <!-- Label and input for compensation_amount start -->
  <div class="form-group">
    <label for="compensation_amount">
      Compensation amount
    </label>

    <!-- Input for compensation_amount start -->
    <input type="text" id="compensation_amount" name="compensation_amount" class="form-control" value="<%= @compensations_by_platform.compensation_amount %>">
    <!-- Input for compensation_amount end -->
  </div>
  <!-- Label and input for compensation_amount end -->

  <!-- Label and input for review_id start -->
  <div class="form-group">
    <label for="review_id">
      Review
    </label>

    <!-- Input for review_id start -->
    <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :compensation_id, @compensations_by_platform.review_id), :class => "form-control") %>
    <!-- Input for review_id end -->
  </div>
  <!-- Label and input for review_id end -->

  <!-- Label and input for compensated start -->
  <div class="form-check">
    <input type="hidden" value="0" name="compensated">
    <!-- Input for compensated start -->
    <input id="compensated" class="form-check-input" name="compensated" type="checkbox" value="1" <%= "checked" if @compensations_by_platform.compensated %>>
    <!-- Input for compensated end -->
    <label for="compensated" class="form-check-label">
      Compensated
    </label>
  </div>

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @compensations_by_platform.notes %></textarea>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <button class="btn btn-block btn-outline-secondary">
    Update compensations by platform
  </button>
</form>

<hr>

<a href="/compensations_by_platforms">
  Go back
</a>
