<% if @compensations_by_platform.present? %>
  <% if @compensations_by_platform.errors.any? %>
    <% @compensations_by_platform.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new compensations by platform
</h1>


<hr>

<form action="/create_compensations_by_platform" method="post">

  <div class="form-group">
    <label for="compensation_amount">
      Compensation amount
    </label>

    <input type="text" id="compensation_amount" name="compensation_amount" class="form-control" value="<%= @compensations_by_platform.compensation_amount %>">
  </div>

  <div class="form-group">
    <label for="review_id">
      Review
    </label>

    <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :compensation_id, @compensations_by_platform.review_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="compensated">
    <input id="compensated" class="form-check-input" name="compensated" type="checkbox" <%= "checked" if @compensations_by_platform.compensated %>>
    <label for="compensated" class="form-check-label">
      Compensated
    </label>
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @compensations_by_platform.notes %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create compensations by platform
  </button>
</form>

<hr>

<a href="/compensations_by_platforms">
  Go back
</a>
