<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Compensations by platform #<%= @compensations_by_platform.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/compensations_by_platforms" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/compensations_by_platforms/<%= @compensations_by_platform.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit compensations by platform
        </a>
      </div>

      <div class="col">
        <a href="/delete_compensations_by_platform/<%= @compensations_by_platform.id %>" class="btn btn-block btn-outline-secondary">
          Delete compensations by platform
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Compensation amount
      </dt>
      <dd>
        <%= @compensations_by_platform.compensation_amount %>
      </dd>

      <dt>
        Review
      </dt>
      <dd>
        <% if @compensations_by_platform.review.present? %>
          <a href="/reviews/<%= @compensations_by_platform.review_id %>">
            <%= @compensations_by_platform.review.compensation_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Compensated
      </dt>
      <dd>
        <%= @compensations_by_platform.compensated %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @compensations_by_platform.notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@compensations_by_platform.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@compensations_by_platform.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

